<p id="notice"><%= notice %></p>

<h1>Listing Aliases</h1>

<table>
  <thead>
    <tr>
      <th>Aid</th>
      <th>Language</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aliases.each do |aliasd| %>
      <tr>
        <td><%= aliasd.aid %></td>
        <td><%= aliasd.language %></td>
        <td><%= aliasd.value %></td>
        <td><%= link_to 'Show', aliasd %></td>
        <td><%= link_to 'Edit', edit_alias_path(alias) %></td>
        <td><%= link_to 'Destroy', aliasd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alias', new_alias_path %>
