<p id="notice"><%= notice %></p>

<p>
  <strong>Aid:</strong>
  <%= @label.aid %>
</p>

<p>
  <strong>Language:</strong>
  <%= @label.language %>
</p>

<p>
  <strong>Value:</strong>
  <%= @label.value %>
</p>

<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
