<p id="notice"><%= notice %></p>

<h1>Listing Sitelinks</h1>

<table>
  <thead>
    <tr>
      <th>Site</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sitelinks.each do |sitelink| %>
      <tr>
        <td><%= sitelink.site %></td>
        <td><%= sitelink.title %></td>
        <td><%= link_to 'Show', sitelink %></td>
        <td><%= link_to 'Edit', edit_sitelink_path(sitelink) %></td>
        <td><%= link_to 'Destroy', sitelink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sitelink', new_sitelink_path %>
