<p id="notice"><%= notice %></p>

<p>
  <strong>Reference:</strong>
  <%= @references_snaks2.reference_id %>
</p>

<p>
  <strong>Snaktype:</strong>
  <%= @references_snaks2.snaktype %>
</p>

<p>
  <strong>Property:</strong>
  <%= @references_snaks2.property %>
</p>

<p>
  <strong>Value string:</strong>
  <%= @references_snaks2.value_string %>
</p>

<p>
  <strong>Value item:</strong>
  <%= @references_snaks2.value_item %>
</p>

<p>
  <strong>Value type:</strong>
  <%= @references_snaks2.value_type %>
</p>

<p>
  <strong>Datatype:</strong>
  <%= @references_snaks2.datatype %>
</p>

<p>
  <strong>Order:</strong>
  <%= @references_snaks2.order %>
</p>

<p>
  <strong>Reference order:</strong>
  <%= @references_snaks2.reference_order %>
</p>

<%= link_to 'Edit', edit_references_snaks2_path(@references_snaks2) %> |
<%= link_to 'Back', references_snaks2s_path %>
