<p id="notice"><%= notice %></p>

<h1>Listing Entities</h1>

<table>
  <thead>
    <tr>
      <th>Pageid</th>
      <th>Ns</th>
      <th>Title</th>
      <th>Lastrevid</th>
      <th>Modified</th>
      <th>Eid</th>
      <th>Type</th>
      <th>Property datatype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= entity.pageid %></td>
        <td><%= entity.ns %></td>
        <td><%= entity.title %></td>
        <td><%= entity.lastrevid %></td>
        <td><%= entity.modified %></td>
        <td><%= entity.eid %></td>
        <td><%= entity.type_e %></td>
        <td><%= entity.property_datatype %></td>
        <td><%= link_to 'Show', entity %></td>
        <td><%= link_to 'Edit', edit_entity_path(entity) %></td>
        <td><%= link_to 'Destroy', entity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entity', new_entity_path %>
